src/template-js-vitest
src/template-vanilla
src/template-vanilla-ts
src/template-ts-bootstrap
src/template-js-bootstrap
src/template-ts-jest
src/template-js-jest
src/template-ts-minimal
src/template-js-minimal
src/template-ts-router
src/template-js-router
src/template-js-sass
src/template-ts-sass
src/template-ts-tailwindcss
src/template-js-tailwindcss
src/template-ts-unocss
src/template-js-unocss
src/template-ts-uvu
src/template-js-uvu
src/template-ts-vitest
src/ts-windicss
dist
src/index.js
lib/templates.js
lib/templates.ts
lib/packageName.js
lib/pkg.js
lib/templates.js