src/template-js-vitest
src/template-vanilla
src/template-vanilla-ts
src/template-ts-bootstrap
src/template-js-bootstrap
src/template-ts-jest
src/template-js-jest
src/ts-minimal
src/ts-router
src/ts-sass
src/ts-tailwindcss
src/ts-unocss
src/ts-uvu
src/template-ts-vitest
src/ts-windicss
dist
src/index.js
lib/frameWorks.js
lib/packageName.js
lib/pkg.js
lib/templates.js